@main("Bored") {

    <script src="@routes.Assets.at("javascripts/js/accordion.js")"></script>

    <div class="container-fluid">
        <div id="blurred-image-container">
            <div class="page-clear">
                <div class="page-blur">
                    <div class="page-home">
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                                <div id="page-text" class="light-text">
                                    <h1 class="text-center main-heading">BORED</h1>
                                    <div class="text-center">
                                        <p>Search for things to do nearby!</p>
                                    </div>
                                    <div class="text-center margin-ut" style="text-align:center;">
                                            <div class="text-center">
                                                <a id="page-btn" class="btn btn-md btn-right" href="#auth/login" rel="relativeanchor" onclick="fb_login()">Login to Facebook</a>
                                            </div>
                                            <div class="text-center">
                                                <a id="page-btn" class="btn btn-md btn-left" href="#map" rel="relativeanchor"><p>Map</p></a>
                                            </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear-bg"></div>
                            <div class="blurred-bg"></div>
                        </div>
                    </div>
                </div>
            </div>

        <div id="map" class="row">

        </div>

    </div>

    <script>
    $(document).ready(function() {
    $('a[rel="relativeanchor"]').click(function(){
    $('html, body').animate({
    scrollTop: $( $.attr(this, 'href') ).offset().top
    }, 500);
    return false;
    });
    });
    </script>

} {
    <link type="text/css" rel="stylesheet" href="@routes.Assets.at("stylesheets/index_page.css")">
    <script type="text/javascript" src="@routes.Assets.at("javascripts/src/smoothScroll.js")"></script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

    <script>
    $(document ).ready(function() {
    $(window).scroll(function() {
    // Get scroll position
    var s = $(window ).scrollTop(),
    // scroll value and opacity
    opacityVal = (s / 150.0);
    console.log(opacityVal);
    // opacity value 0% to 100%
    $('.blurred-bg').css('opacity', opacityVal);
    });
    $("#iframe").contents().find("a").bind('click', function(){
    window.location.href = $(this).attr('href');
    });
    });
    </script>

}